{% extends 'EcoleDeMusiqueWelcomeBundle::layout.html.twig' %}

{% block title %}
        Activites 
{% endblock %}
{% block titlePage %}
        Activites 
{% endblock %}
      {% block content %} 
        <div id="page">
                  <div class="post">
                       <h2 class="title">Nouvelle saisi d'activité pour un élève</h2>
                             <div class="entry">
                                 <p>Saisissez ici les instruments pratiqués par l'élève ainsi que son activité collective</p>
                                 
                                 
                                 
                                 
                              </div>
                  </div>
                
       </div>
     {% endblock %}