{% extends 'EcoleDeMusiqueWelcomeBundle::layout.html.twig' %}

{% block title %}
        Prof
{% endblock %}

      {% block content %} 
        <div id="header">
		<div id="nompage">
			<h1>Profs</h1>
		</div>
	</div>
          <div id="page">
           
                  <div class="post">
                       <h2 class="title">Edition d'un prof</h2>
                             <div class="entry">
                                <form action="{{ path('prof_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                                     {{ form_widget(edit_form) }}
                                        <p>
                                            <button type="submit">Editer</button>
                                        </p>
                                </form>

                                <ul class="record_actions">
                                    <li>
                                        <a href="{{ path('prof') }}">
                                            Listes des profs
                                        </a>
                                    </li>
                                </ul>
                           </div>   
                    </div>
        </div>            
{% endblock %}